ch44 CodeSample/EnterpriseServices/SampleSolution/WCFClientApp/Service References/NorthwindService/NorthwindService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wrox.ProCSharp.EnterpriseServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wrox.ProCSharp.EnterpriseServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element name="customerId" nillable="true" type="xs:string" />
      <xs:element name="orderDate" type="xs:dateTime" />
      <xs:element name="orderId" type="xs:int" />
      <xs:element name="orderLines" nillable="true" type="tns:ArrayOfOrderLine" />
      <xs:element name="shipAddress" nillable="true" type="xs:string" />
      <xs:element name="shipCity" nillable="true" type="xs:string" />
      <xs:element name="shipCountry" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderLine" nillable="true" type="tns:OrderLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderLine" nillable="true" type="tns:ArrayOfOrderLine" />
  <xs:complexType name="OrderLine">
    <xs:sequence>
      <xs:element name="_x003C_ProductId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Quantity_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_UnitPrice_x003E_k__BackingField" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderLine" nillable="true" type="tns:OrderLine" />
</xs:schema>